{
    "tabWidth": 4,
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "svelteBracketNewLine": false,
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "printWidth": 100,
                "svelteBracketNewLine": false,
                "svelteIndentScriptAndStyle": true,
                "svelteAllowShorthand": true,
                "svelteSortOrder": "options-scripts-styles-markup",
                "bracketSameLine": true,
                "singleQuote": true,
                "semi": false,
                "plugins": ["prettier-plugin-svelte"]
            }
        }
    ],
    "pluginSearchDirs": ["."]
}
