{
    "tabWidth": 4,
    "printWidth": 100,
    "semi": false,
    "singleQuote": false,
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "svelteBracketNewLine": true,
                "svelteIndentScriptAndStyle": true,
                "svelteAllowShorthand": true,
                "svelteSortOrder": "options-scripts-styles-markup",
                "bracketSameLine": true,
                "plugins": ["prettier-plugin-svelte"]
            }
        }
    ],
    "pluginSearchDirs": ["."]
}
